.main-cont-skills {
    width: 100%;
    height: 120vh;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 94, 94);
}

@media screen and (max-width: 800px) {
    .main-cont-skills {
        height: fit-content;
        padding-bottom: 30px;
    }
}